.app-container {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 300px;
	margin: auto;
	background-color: #bdbdbd;
	border: 5px solid orange;
}

.buttons-container {
	padding: 20px 20px 0 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 90px);
}

.drum-pad {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: rgb(142, 139, 139);
	border-radius: 5px;
	box-shadow: 3px 3px 5px black;
	cursor: pointer;
}

.controls-container {
	display: flex;
	justify-content: center;
	width: 100%;
	border: 1px solid blue;
}

.switch-container {
	margin-top: 50px;
}

.switch-button-container {
	width: 50px;
	height: 20px;
	background-color: black;
}

.switch-button {
	width: 15px;
	height: 15px;
	background-color: blue;
}
